<div class="col-md-8">
	<h5 class="font-weight-bold spanborder"><span>All Stories</span></h5>
  <% @articles.each do |all_article| %>
		<div class="mb-3 d-flex justify-content-between">
			<div class="pr-3">
				<h2 class="mb-1 h4 font-weight-bold">
					<a class="text-dark" href="./article.html"><%= all_article.title.titleize %></a>
				</h2>
				<p>
					<%= truncate_body(all_article) %>
				</p>
				<div class="card-text text-muted small">
					<%= all_article.user&.name %>
				</div>
				<small class="text-muted"><%= all_article.time_format %> &middot; <%= all_article.read_time %></small>
			</div>
			<img height="120" src="assets/img/demo/blog8.jpg">
		</div>
	<% end %>
</div>
